/.buildNodeID
/.token_seed
/.token_seed.lock
/.vscode
/buildx
/coba_tracker
/config.json
/desktop
/fastapi-psql
/my_fastapi_project
/product_recommendation1
/project_folder
/project_tracker_parser
/run
/scan
/tracker
/workshop
/contexts
/features.json